# Variables de Entorno del Proyecto

# Agrega aquí tus credenciales (no se subirán a GitHub si .env está en .gitignore)
# SYSCOM_CLIENT_ID="tus_credenciales_aqui"
# SYSCOM_CLIENT_SECRET="tus_credenciales_aqui"
